# Crystal build output
/bin/
*.dwarf

# Crystal dependency manager
/lib/
/.shards/

# Libraries don't need a dependency lock file;
# it will be locked in applications that consume this shard.
/shard.lock

# Generated API documentation
/docs/

# macOS metadata
.DS_Store
